@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to right,#80d0ff,#42b3f5, #5c95f7, #5d5af7, #925beb,#b450ee,#e759e5, #ff85e7);
}

div {
    padding: 8px;
}

div.header {
    display: flex;
    justify-content: space-between;
}

button.add-to-cart:hover {
    background-color: rgba(255,255,255,0.4);
}

div.product-listing {
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
}

div.listing-cell {
    width: 276px;
    height: 240px;
}

@media (min-width: 700px) {
    div.product-listing {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (min-width: 1000px) {
    div.product-listing {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

@media (min-width: 1300px) {
    div.product-listing {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

@media (min-width: 1600px) {
    div.product-listing {
        grid-template-columns: repeat(5, minmax(250px, 1fr));
    }
}

@media (min-width: 1800px) {
    div.product-listing {
        grid-template-columns: repeat(6, minmax(250px, 1fr));
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


