@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to right,#80d0ff,#42b3f5, #5c95f7, #5d5af7, #925beb,#b450ee,#e759e5, #ff85e7);
}

div {
    margin: auto;
    padding: 8px;
}

div.header {
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: rgba(255,255,255,0.4);
}

div.product-listing {
    display: grid;
    grid-template-columns: repeat(6, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 1rem;

}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


